<div class="row" style="margin-top: 30px; margin-bottom: 30px">
	<div style="float: left">
		<h1>Our Team</h1>
		<h4>Raddest team you will ever find under a table in the breakout room off the lobby.</h4>
	</div>
	<img src="~/Client/WebClient/Content/Images/RadabiteSharp.png" width="100" height="100" alt="Logo" />
</div>

<div class="row">
	<div class="small-12 columns">
		<ul class="small-block-grid-2">
			<li>
				<div>
					<img style="float: left; margin-right: 10px" class="th" width="200" height="200" src="~/Client/WebClient/Content/Images/Cassey.jpg" />
					<div>
						<h2>Cassey Lottman</h2>
						<p>Guys, calm down.</p>
					</div>
				</div>
			</li>
			<li>
				<div>
					<img style="float: left; margin-right: 10px" class="th" width="200" height="200" src="~/Client/WebClient/Content/Images/Dalton.jpg" />
					<div>
						<h2>Dalton Dick</h2>
						<p>Can we rewrite it and use Mongo?</p>
					</div>
				</div>
			</li>
			<li>
				<div>
					<img style="float: left; margin-right: 10px" class="th" width="200" height="200" src="~/Client/WebClient/Content/Images/Nathan.jpg" />
					<div>
						<h2>Nathan DeMaria</h2>
						<p>I can definitely do that in R.</p>
					</div>
				</div>
			</li>
			<li>
				<div>
					<img style="float: left; margin-right: 10px" class="th" width="200" height="200" src="~/Client/WebClient/Content/Images/Sawyer.png" />
					<div>
						<h2>Sawyer Jager</h2>
						<p>I worked at NASA, nbd.</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>