<h1 style="text-align:center;">Welcome to Radabite</h1>
<h3 style="text-align:center;">Show Everyone Just How Rad You Are!</h3>
<br>
<div class="row">
    @Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl })
    
</div>
