@using Radabite.Backend.Database;

@model List<User>
<table style="width: 100%">
	<thead><tr><th style="text-align: center">Friends</th></tr></thead>
	<tbody>
		@{
			if (Model.Count() == 0)
			{
				<tr><td>You have no friends :(</td></tr>
			}
			else
			{
				foreach (User friend in Model)
				{
								<!--These links currently link to the friend's personal profile - should be a different page?-->
					<tr><td>@friend.DisplayName</td></tr>
				}
			}
		}
	</tbody>
</table>