@model Radabite.Models.EventModel

<div class="panel">
    <h4>Friends</h4>
    @if(!Model.IsPrivate || Model.CurrentUser.Id == Model.Owner.Id)
    {
        <a class="radius button" data-reveal-id="InviteModal" href="#">Invite Friends</a>
    }
</div>

<table style="width: 100%">
	<thead><tr><th style="text-align: center">Attending</th></tr></thead>
    @foreach (var i in Model.Guests.Where(x => x.Response == Radabite.Backend.Database.ResponseType.Accepted).ToList())
    {
        <tr><td>@Html.ActionLink(i.Guest.DisplayName, "../UserProfile", new { UserProfile = i.Guest.Id })</td></tr>
    }
</table>

<table style="width: 100%">
	<thead><tr><th style="text-align: center">Invited</th></tr></thead>
    @foreach (var i in Model.Guests.Where(x => x.Response == Radabite.Backend.Database.ResponseType.WaitingReply).ToList())
    {
        <tr><td>@Html.ActionLink(i.Guest.DisplayName, "../UserProfile", new { UserProfile = i.Guest.Id })</td></tr>
    }</table>

<table style="width: 100%">
	<thead><tr><th style="text-align: center">Not Attending</th></tr></thead>
    @foreach (var i in Model.Guests.Where(x => x.Response == Radabite.Backend.Database.ResponseType.Rejected).ToList())
    {
        <tr><td>@Html.ActionLink(i.Guest.DisplayName, "../UserProfile", new { UserProfile = i.Guest.Id })</td></tr>
    }</table>