@model Radabite.Models.EventModel

<div class="panel">
    <h4>Friends</h4>
    <a class="radius button" data-reveal-id="InviteModal" href="#">Invite Friends</a>
</div>

 @if(Model.Guests.Count == 0) {
    <div class="panel">
        <h5>No people currently attending</h5>
    </div>
} else {
    foreach (var u in Model.Guests){
        <div class="panel">
            <div class="row">
                <div class="large-2 medium-2 columns">
                    <img src="@u.PhotoLink"  />
                </div>
                <div class="large-10 medium-10 columns">
                    @Html.ActionLink(u.DisplayName, "../UserProfile", new { u = u.DisplayName })
                </div>
            </div>
        </div>
    }
}