@{
	ViewBag.Title = "Create Event";
}

<div class="row">
	<hgroup class="title">
		<h2>@User.Identity.Name's @ViewBag.Message</h2>
	</hgroup>

</div>

<div class="row">
	<h3>Step 1: Pick a Time!</h3>
	<div class="large-6 medium-6 columns">
		<div class="callout panel">
			<p>
				<a href="http://www.google.com/calendar/render?pli=1">Use Google Calendar</a>
			</p>
		</div>
	</div>
	<div class="large-6 medium-6 columns">
		<div class="callout panel">
			<p>
				<a href="http://www.doodle.com">Ask your Friends! (Doodle)</a>
			</p>
		</div>
	</div>
</div>

<div class="row">
	<h3>Step 2: Pick a Place!</h3>
	<div class="large-6 medium-6 columns">
		<div class="callout panel">
			<!--I know this doesn't go here-->
			<script type="text/javascript"
					src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9mnrBBjZsNVYhGYaDEh8I-XwkKa0yW74&sensor=true">
			</script>
			<script type="text/javascript">
				var map;
				var geocoder;
				var marker;
				function initialize() {
					geocoder = new google.maps.Geocoder();
					var mapOptions = {
						center: new google.maps.LatLng(40.81, -96.68),
						zoom: 12,
						draggableCursor: 'default'
					};
					map = new google.maps.Map(document.getElementById("map-canvas"),
						mapOptions);
					google.maps.event.addListener(map, 'click', function (event) {
						placeMarker(event.latLng);
					});
				}
				function placeMarker(location) {
					if (marker != null) {
						marker.setMap(null);
					}

					marker = new google.maps.Marker({
						position: location,
						map: map
					});

					//fill the boxes :)
					readMarkerLocation();
					document.getElementById('lat-box').innerHTML = location.lat();
					document.getElementById('long-box').innerHTML = location.lng();
				}
				function codeAddress() {
					var address = document.getElementById("address").value;
					geocoder.geocode({ 'address': address }, function (results, status) {
						if (status == google.maps.GeocoderStatus.OK) {
							map.setCenter(results[0].geometry.location);
							if (marker != null) {
								marker.setMap(null);
							}
							marker = new google.maps.Marker({
								map: map,
								position: results[0].geometry.location
							});

							document.getElementById('address-box').value = results[0].formatted_address;
							document.getElementById('lat-box').innerHTML = results[0].geometry.location.lat();
							document.getElementById('long-box').innerHTML = results[0].geometry.location.lng();
						} else {
							alert("Geocode was not successful for the following reason: " + status);
						}
					});
				}
				function readMarkerLocation() {
					geocoder.geocode({ 'latLng': marker.getPosition() }, function (results, status) {
						if (status == google.maps.GeocoderStatus.OK) {
							if (results[1]) {
								document.getElementById('address-box').value = results[0].formatted_address;
							}
							else {
								document.getElementById('address-box').value = 'No address found';
							}
						}
						else {
							alert('Error: Geocoder failed: ', status);
						}
					})
				}
				google.maps.event.addDomListener(window, 'load', initialize);
			</script>
			<h5>Search for a location or click to drop a marker</h5>
			<div class="row">
				<div class="small-2 column">
					<input type="button" value="Search" onclick="codeAddress()">
				</div>
				<div class="small-10 column">
					<input id="address" type="text" value="Lincoln, NE">
				</div>
			</div>

			<div id="map-canvas" style="width: auto; height: 300px" />

		</div>
		<div class="callout panel">
			<input id="address-box" value="Address" style="width: 100%" />
			<p id="lat-box">Lat</p>
			<p id="long-box">Long</p>
		</div>
	</div>
</div>

<div class="row">
	<h3>Step 3: Public or Private?</h3>
	<div class="large-6 medium-6 columns">
		<input type="radio" id="red">
		<label for="red">Public</label>
		<input type="radio" id="blue">
		<label for="blue">Private</label>
	</div>
</div>

<div class="row">
	<h3>Step 4: Invite Your Friends!</h3>
	<div class="large-6 medium-6 columns">
		<div class="callout panel">
			<p>
				<a href=".">Choose Friends!</a>
			</p>
		</div>
	</div>
</div>