@using Radabite.Backend.Database
@using Radabite.Client.WebClient.ViewModels

@{
	ViewBag.Title = "Discover Event";
}

@model ViewModel

<div class="row">
	<hgroup class="title">
		<h2>@User.Identity.Name's @ViewBag.Message</h2>
	</hgroup>

</div>

<div class="row">
	<div class="large-4 medium-4 columns">
		@{Html.RenderPartial("~/Client/WebClient/Views/Shared/_FriendTable.cshtml", Model.Friends);}
	</div>
	<div class="large-8 medium-8 columns">
		<table style="width: 100%">
			<thead><tr><th>Events</th></tr></thead>
			<tbody>
				@{
					if (Model.Events.Count == 0)
					{
						<tr><td>You have no events.</td></tr>
					}
					else
					{
						foreach (Event e in Model.Events)
						{
							<tr><td>@Html.ActionLink(e.Title, "../Event", new { eventId = e.Id })</td></tr>
						}
					}
				}
			</tbody>
		</table>
	</div>
</div>
