@using Radabite.Backend.Database
@using Radabite.Client.WebClient.Models

@{
	ViewBag.Title = "Discover Event";
}

@model UserModel

<div class="row">
	<hgroup class="title">
		<h2>@User.Identity.Name's @ViewBag.Message</h2>
	</hgroup>

</div>

<div class="row">
	<div class="large-4 medium-4 columns">
		@{Html.RenderPartial("~/Client/WebClient/Views/Shared/_FriendTable.cshtml", Model.Friends);}
	</div>
	<div class="large-8 medium-8 columns">
		<table style="width: 100%">
			<thead><tr><th>Events</th></tr></thead>
			<tbody>
				@{
					if (Model.DiscoverEvents.Count == 0)
					{
						<tr><td>There are no events near you.</td></tr>
					}
					else
					{
                        foreach (Event e in Model.DiscoverEvents)
						{
							<tr><td>@Html.ActionLink(e.Title, "../Event", new { eventId = e.Id })</td></tr>
						}
					}
				}
			</tbody>
		</table>
        <table style="width: 100%">
            <thead><tr><th>Invitations</th></tr></thead>
            <tbody>
				@{
					if (Model.EventInvitations.Count == 0)
					{
						<tr><td>You haven't been invited to any events.</td></tr>
					}
					else
					{
						foreach (Event e in Model.EventInvitations)
						{
							<tr><td>@Html.ActionLink(e.Title, "../Event", new { eventId = e.Id })</td></tr>
						}
					}
				}
			</tbody>
        </table>
	</div>
</div>

