@{
    ViewBag.Title = "Login Failure";
}

<div class="row">
	<div class="large-12 medium-12 columns">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>Unsuccessful login with service.</h2>
        </hgroup>
    </div>
</div>