@model Radabite.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}
<div class="row">
	<div class="large-12 medium-12 columns">
		<br/>
        <hgroup class="title">
            <h1>Login with your favorite social network!</h1>
        </hgroup>

        <section class="social" id="socialLoginForm">
            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
        </section>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>