@using Radabite.Backend.Database;
@{
    ViewBag.Title = "Profile";
}
@model List<Event>

<div class="row">
<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

</div>

<div class="row">
    <div class="large-4 medium-4 columns">
        <h3>About</h3>
        <div style="width:302px;height:300px;border:1px black solid">
            <img src="http://baconmockup.com/302/300" alt="" />
        </div>
        <div class="panel">
            <p>
                <span>Name: Test Name</span>
                <br />
                <span>Location: Test Location</span>
            </p>
        </div>
    </div>
    <div class="large-8 medium-8 columns">
        <h3>Your Events</h3>
        @foreach (var item in Model){
            <div class="panel" style="width:600px;height:100px;border:1px solid #000;">
                <p>@item.Title</p>
                <p>@item.Description</p>
            </div>
        }
    </div>
</div>
